@model BRD_Sem.Models.ViewModels.AccountModels.LoginModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BRD_Sem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="offset-2">
        <h3>Log In</h3>
        <div class="col-9">
            <form asp-controller="Account" asp-action="Login">
                <div class="form-group">
                    <label for="logMail">
                        Ваша почта
                    </label>
                    <input type="email" name="Email" class="form-control" id="logMail" aria-describedby="emailHelp" placeholder="Enter email" />
                </div>           
                <div class="form-group">
                    <label for="logPassword">
                        Ваш пароль
                    </label>
                    <input type="password" name="Password" class="form-control" id="logPassword" placeholder="Enter password" />
                </div>
                <div class="form-check">
                    <input type="checkbox" name="RememberMe" class="form-check-input" id="logRemember">
                    <label class="form-check-label" for="logRemember">Remember me</label>
                </div>
                <div>
                    <div class="form-group">
                        <input type="submit" value="Log In" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            <div>
                <div>
                    New on our site?
                    <a asp-controller="Account" asp-action="Register">Create Account</a>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Index">Back to the site</a>
                </div>
            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
<footer class="footer">
    <div class="container">
        <div class="text-center">
            <span style="color:whitesmoke">Created By <a href="#">BRD</a>, 2021</span>
        </div>
    </div>
</footer>