@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Content Page";
}
<div class="show-top-grids row">
    <div class="col-sm-8 single-left">
        <div class="content">
            <div class="content-info">
                <h3>Kal</h3>
            </div>
            <div class="video-grid">
                <img class="img-fluid" src="/img/t1.jpg" />
            </div>
            <div class="description">
                <h4>Кто запостил</h4>
                <p>Описание бтв</p>
            </div>
            <div class="form-group make-commentary">
                <label for="#commentary">Create Comment</label>
                <textarea class="form-control" id="commentary" rows="5"></textarea>
                <button type="button" class="btn btn-primary mt-2">SEND</button> 
            </div>
            <div class="comments mt-2">
                <h4>Comments</h4>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Truhin N</h5>
                        Спидран по верстке поехали
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Truhin N</h5>
                        Спидран по верстке поехали Спидран по верстке поехали Спидран по верстке поехали
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Truhin N</h5>
                        Спидран по верстке поехали
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cols-md-3 single-right offset-0" style="background-color:lightgray">
        <h3 class="mt-3 mb-4">Up Next</h3>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-6 single-right-grid-left">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg">
                    </a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="#">Название тут</a>
                    <p class="author">
                        А тут автор
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>