@{
    ViewData["Title"] = "Home Page";
}

<div class="main-grids">
    <div class="top-grids">
        <div class="recommended-info">
            <h3>Recent Videos</h3>
        </div>
        <!--Первый ряд говна, тут всегда три видео можно ебануть форму и модель-->
        <div class="row">
            <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg" />
                    </a>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h3>
                        <a href="#" class="title title-info">Kal</a>
                    </h3>
                    <a href="#" class="author">Truhin</a>
                </div>
            </div>
            <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg" />
                    </a>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h3>
                        <a href="#" class="title title-info">Kal</a>
                    </h3>
                    <a href="#" class="author">Truhin</a>
                </div>
            </div>
            <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
                <div class="resent-grid-img recommended-grid-img">
                    <a href="#">
                        <img class="img-fluid" src="/img/t1.jpg" />
                    </a>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h3>
                        <a href="#" class="title title-info">Kal</a>
                    </h3>
                    <a href="#" class="author">Truhin</a>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended" style="margin-top:2em">
        <div class="recommended-grids">
            <div class="recommended-info">
                <h3>Animated Cartoon</h3>
            </div>
            <div class="row">
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a asp-area="" asp-controller="Home" asp-action="ContentPage">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a asp-area="" asp-controller="Home" asp-action="UserPage">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a asp-area="" asp-controller="Home" asp-action="AdminPage">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended" style="margin-top:2em">
        <div class="recommended-grids">
            <div class="recommended-info">
                <h3>Recommended</h3>
            </div>
            <div class="row">
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>

                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended" style="margin-top:2em">
        <div class="recommended-grids">
            <div class="recommended-info">
                <h3>Sports</h3>
            </div>
            <div class="row">
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid slider-first">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#">
                            <img class="img-fluid" src="/img/t1.jpg" />
                        </a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h3>
                            <a href="#" class="title title-info">Kal</a>
                        </h3>
                        <a href="#" class="author">Truhin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
