@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="show-top-grids">
    <div class="col-sm-10 show-grid-left main-grids">
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>English</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>By 11-912</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>Russian</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>German</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                        <div class="resent-grid-img recommended-grid-img">
                            <a href="#"><img class="img-fluid" src="/img/Poster_template.jpg" /></a>
                        </div>
                        <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                            <h5>
                                <a href="#" class="title">Ilyin Rhapsody</a>
                            </h5>
                            <p class="author">
                                Author
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>