@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-grids">
    <div class="recommended">
        <div class="recommended-grids english-grid">
            <div class="recommended-info">
                <h3>Latest Sports Videos</h3>
            </div>
            <div class="row">
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended">
        <div class="recommended-grids">
            <div class="recommended-info">
                <h3>Top Most Videos</h3>
            </div>
            <div class="row">
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended">
        <div class="recommended-grids">
            <div class="recommended-info">
                <h3>Popular Sports Videos</h3>
            </div>
            <div class="row">
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="#"><img class="img-fluid" src="~/img/sp1.jpg" /></a>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5>
                            <a href="#" class="title">Name</a>
                        </h5>
                        <p class="author">Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>