@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-grids">
    <div class="recommended">
        <h3>BEST SOUND EVER</h3>
        <div>
            <table class="table">
                <thead>
                    <tr><td>Название</td><td>Исполнитель</td><td>Дата выхода</td></tr>
                </thead>
                <tbody id="MusData">
                </tbody>
            </table>
        </div>
        <div>
            <form action="https://localhost:44374/Music/Music" method="post">
                <input type="text" name="Name" id="PostName" placeholder="Название Трека" required>
                <input type="text" name="Author" id="PostAuth" placeholder="Исполнитель" required>
                <input type="text" name="Date" id="PostDate" placeholder="Дата Выхода" required>
                <button formmethod="post">Добавить Запись</button>
            </form>
        </div>
        <div>
            <input type="text" name="Name" id="SearchMus" placeholder="Название Группы" required>
            <button id="FindGroup">Find</button>
            <h3 class="display-4">Результаты поиска:</h3>
        </div>

        <div>
            <table id="SrcMusTable" class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">Автор</th>
                    </tr>
                </thead>
                <tbody id="MusSData">
                </tbody>
            </table>
        </div>
    </div>
</div>