@model BRD_Sem.Models.ViewModels.PostsViewModel
@{
}
<div class="show-top-grids">
    <div class="col-sm-10 show-grid-left main-grids">
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>Movies by 11-912</h3>
                    </div>
                </div>
                <div class="row">                    
                    @foreach (var e in Model.Posts)
                    {
                        if (e.Category == "Movie")
                        {
                            <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                                <div class="resent-grid-img recommended-grid-img">
                                    <a href="#"><img class="img-fluid" src="@Url.Content("~/"+e.Id + "/image")" /></a>
                                </div>
                                <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                                    <h5>
                                        <a href="#" class="title">@e.Description</a>
                                    </h5>
                                    <p class="author">
                                        @e.AuthorName
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>