
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BRD_Sem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <!--Navbar починить строку поиска-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" id="navFix">
        <a class="navbar-brand" href="#"><img src="/img/logo.png" /></a>
        <form style="width:65%">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav">
            <li class="nav-item m-1">
                <button type="button" id="btnsup" class="btn btn-primary" data-toggle="modal" data-target="#supmodal">Sign Up</button>

            </li>
            <li class="nav-item m-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sinmodal">Sign In</button>
            </li>
        </ul>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-dark bg-light" id="navbarCollapse">
            <ul class="navbar-nav mr-auto sidenav bg-dark" id="navAccordion">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TVShows">TV Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="History">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse"
                       href="#"
                       id="hasSubItems"
                       data-toggle="collapse"
                       data-target="#collapseSubItems2"
                       aria-controls="collapseSubItems2"
                       aria-expanded="false">Movies</a>
                    <ul class="nav-second-level collapse" id="collapseSubItems2" data-parent="#navAccordion">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Movies">
                                <span class="nav-link-text">English</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Movies">
                                <span class="nav-link-text">Russian</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Movies">
                                <span class="nav-link-text">German</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse"
                       href="#"
                       id="hasSubItems"
                       data-toggle="collapse"
                       data-target="#collapseSubItems4"
                       aria-controls="collapseSubItems4"
                       aria-expanded="false">Sports</a>
                    <ul class="nav-second-level collapse" id="collapseSubItems4" data-parent="#navAccordion">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Football</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Cricket</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Tennis</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Shattil</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="News">News</a>
                </li>
                <li class="nav-item col-md-3 col-lg" id="credits">
                    <div class="side-bottom-icons">
                        <div>s</div>
                        <div>s</div>
                        <div>s</div>
                        <div>s</div>
                    </div>
                    <div class="copyright">
                        <p style="color:white">BRD, 2021</p>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <!--Sign up-->
    <div class="modal fade" id="supmodal" tabindex="-1" role="dialog" aria-labelledby="signUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title align-content-center" id="signUp">Create Account</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="signUpBody">
                    <div class="social-sits">
                        <div class="facebook-button">
                            <a href="#">Connect with Facebook</a>
                        </div>
                        <div class="chrome-button">
                            <a href="#">Connect with Google</a>
                        </div>
                        <div class="button-bottom">
                            <p>
                                Already have an account?
                                <a href="#" data-toggle="modal" data-target="#sinmodal" data-dismiss="modal">Login</a>
                            </p>
                        </div>
                    </div>
                    <div class="signup mt-2">
                        <form>
                            <input type="email" class="form-control mt-1" id="email">
                            <input type="password" class="form-control mt-1" id="password">
                            <input type="number" class="form-control mt-1" id="phonenum">
                        </form>
                        <div class="continue-button">
                            <button type="button" class="btn btn-primary mt-1">
                                SIGN UP
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sign in-->
    <div class="modal fade" id="sinmodal" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title align-content-center" id="signIn">Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="signInBody">
                    <div class="social-sits">
                        <div class="facebook-button">
                            <a href="#">Connect with Facebook</a>
                        </div>
                        <div class="chrome-button">
                            <a href="#">Connect with Google</a>
                        </div>
                        <div class="button-bottom">
                            <p>
                                New Account?
                                <a href="#" data-toggle="modal" data-target="#supmodal" data-dismiss="modal">Sign Up</a>
                            </p>
                        </div>
                    </div>
                    <div class="signin mt-2">
                        <form>
                            <input type="email" class="form-control mt-1" id="email">
                            <input type="password" class="form-control mt-1" id="password">
                        </form>
                        <div class="continue-button">
                            <button type="button" class="btn btn-primary mt-1">
                                LOG IN
                            </button>
                        </div>
                        <div class="forgot">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="mainBody">
        <main role="main" class="pb-3 offset-lg-2">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    <span style="color:whitesmoke">Created By <a href="#">BRD</a>, 2021</span>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
