
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BRD_Sem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <!--Navbar починить строку поиска-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" id="navFix">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="/img/logo.png" /></a>
        <form style="width:65%">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item m-1">
                    <a class="nav-link" style="color:aqua" asp-controller="Profile" asp-action="Profile">My Profile</a>

                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" style="color:aqua" asp-controller="Account" asp-action="Logout">Log Out</a>
                </li>
            }
            else
            {
                <li class="nav-item m-1">
                    <a class="nav-link" style="color:aqua" asp-controller="Account" asp-action="Register">Sign Up</a>

                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" style="color:aqua" asp-controller="Account" asp-action="Login">Sign In</a>
                </li>
            }

        </ul>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-dark bg-light" id="navbarCollapse">
            <ul class="navbar-nav mr-auto sidenav bg-dark" id="navAccordion">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="TVShows" asp-action="TVShows">TV Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Expired" asp-action="Expired">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse"
                       href="#"
                       id="hasSubItems"
                       data-toggle="collapse"
                       data-target="#collapseSubItems2"
                       aria-controls="collapseSubItems2"
                       aria-expanded="false">Movies</a>
                    <ul class="nav-second-level collapse" id="collapseSubItems2" data-parent="#navAccordion">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Movies">
                                <span class="nav-link-text">English</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Movies">
                                <span class="nav-link-text">Russian</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Movies">
                                <span class="nav-link-text">German</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-collapse"
                       href="#"
                       id="hasSubItems"
                       data-toggle="collapse"
                       data-target="#collapseSubItems4"
                       aria-controls="collapseSubItems4"
                       aria-expanded="false">Sports</a>
                    <ul class="nav-second-level collapse" id="collapseSubItems4" data-parent="#navAccordion">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Football</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Cricket</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Tennis</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sports" asp-action="Sports">
                                <span class="nav-link-text">Shattil</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Music" asp-action="Music">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="News" asp-action="News">News</a>
                </li>
                <li class="nav-item col-md-3 col-lg" id="credits">
                    <div class="copyright">
                        <p style="color:white">BRD, 2021</p>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid" id="mainBody">
        <main role="main" class="pb-3 offset-lg-2">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    <span style="color:whitesmoke">Created By <a href="#">BRD</a>, 2021</span>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
