@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="show-top-grids">
    <div class="recommended-info">
        <h3>History Of BRD</h3>
        <p class="history-text">
            Здесь будет изложена краткая история команды BRD
        </p>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2001</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>Начало истории</h5>
                <p>
                    В этот знаменательный год произошло эпическое событие - появление на свет трех членов команды BRD. Вот они, слева направо - Староста Абдулес, Детектив Беляйкинс, Сетевой Колдун Трухин.
                </p>
            </div>
        </div>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2003</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>Две тысяячи третий год</h5>
                <p>
                    Наступил.
                </p>
            </div>
        </div>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2005</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>Зачем я это пишу</h5>
                <p>
                   Я не хочу больше писать фронт.
                </p>
            </div>
        </div>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2007</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>бтв я реально дед инсайд</h5>
                <p>
                    СЕНТЯЯЯЯЯЯЯЯЯЯЯБР ГОООРИИИИИИИИИИТ, УБИИИИИИИИИИИЙЦААААААА ПЛААААААААААААЧЕТ!!
                </p>
            </div>
        </div>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2019</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>Год, когда всё пошло по неправильному месту</h5>
                <p>
                    Поступление в ИТИС лол.
                </p>
            </div>
        </div>
        <div class="history-grids row mb-2">
            <div class="col-md-1 history-left">
                <p>2021</p>
            </div>
            <div class="col-md-11 history-right">
                <h5>Вы находитесь здесь</h5>
                <p>
                    Детектив Беляйкинс пал смертью храбрых, и покинул команду BRD. 2/3 Команды продолжают чета делать.
                </p>
            </div>
        </div>
    </div>
</div>