@model BRD_Sem.Models.ViewModels.PostsViewModel
@{
}
<div class="show-top-grds">
    <div class="col-sm-10 show-grid-left main-grids">
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>TV Shows</h3>
                    </div>
                </div>
                <div class="row">
                    @foreach (var e in Model.Posts)
                    {
                        if (e.Category == "TV Show")
                        {
                            <div class="col-md-2 resent-grid recommended-grid show-video-grid">
                                <div class="resent-grid-img recommended-grid-img">
                                    <a href="#">
                                        <img class="img-fluid" src="@Url.Content("~/"+e.Id + "/image")" />
                                    </a>
                                </div>
                                <div class="resent-grid-info recommended-grid-info">
                                    <h5><a href="#" class="title">@e.Description</a></h5>
                                    <p class="author">
                                        @e.AuthorName
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>